<footer class="section section__footer clearfix">
	<div class="wrapper">
		<a href="#top" class="scrolltop"><span><i class="fa fa-chevron-up"></i> &nbsp;Top</span></a>
		<span class="section__footer-logo" onclick="window.location.href='{{ url('homepage') }}'" style="cursor:pointer;"></span>
		<p class="section__footer-copyright">&copy; 2016 - Copyright Gianni Furniture & Interior Design.</p>
		<div class="section__footer-nav text-right">
			<div class="t-copyright">Website design by <a href="http://markdesign.net/" title="Website Design Surabaya" target="_blank">Mark Design</a>.</div>
		</div>
	</div>
</footer>